[submodule "iocap-experiments/cheri-compressed-cap"]
	path = iocap-experiments/cheri-compressed-cap
	url = ssh://git@github.com/theturboturnip/cheri-compressed-cap
[submodule "de10pro-cheri-bgas"]
	path = soc/common/de10pro-cheri-bgas
	url = https://github.com/CTSRD-CHERI/de10pro-cheri-bgas
[submodule "DE10Pro-softcore-devicetree"]
	path = soc/fpga/DE10Pro-softcore-devicetree
	url = https://github.com/CTSRD-CHERI/DE10Pro-softcore-devicetree
[submodule "elfmanip"]
	path = soc/sim/elfmanip
	url = https://github.com/theturboturnip/elfmanip
[submodule "fmem-uart"]
	path = soc/sim/fmem-uart
	url = https://github.com/CTSRD-CHERI/fmem-uart
[submodule "fmem"]
	path = soc/fpga/fmem
	url = https://github.com/CTSRD-CHERI/fmem/
[submodule "konata"]
	path = konata
	url = https://github.com/theturboturnip/konata.git
[submodule "os-cheribsd/cheribuild"]
	path = os-cheribsd/cheribuild
	url = https://github.com/CTSRD-CHERI/cheribuild
[submodule "os-cheribsd/cheri-fio"]
	path = os-cheribsd/cheri-fio
	url = https://github.com/theturboturnip/cheri-fio
[submodule "os-cheribsd/qemu"]
	path = qemu
	url = https://github.com/CTSRD-CHERI/qemu
[submodule "os-freertos/cheribuild"]
	path = os-freertos/cheribuild
	url = https://github.com/CTSRD-CHERI/cheribuild/
[submodule "os-freertos/freertos"]
	path = os-freertos/freertos
	url = git@github.com:CTSRD-CHERI/FreeRTOS
[submodule "soc/common/tinyemu-virtio"]
	path = soc/common/tinyemu-virtio
	url = https://github.com/CTSRD-CHERI/tinyemu-virtio
	branch = sws35-iocaps
