adapter driver jtag_vpi
jtag_vpi set_port 5555
jtag_vpi set_address 127.0.0.1
adapter speed 10000

jtag newtap riscv cpu -irlen 5 -ignore-version -expected-id 0x00000ffd

set _CHIPNAME riscv
#target create $_CHIPNAME.cpu riscv -chain-position $_CHIPNAME.cpu
set _TARGETNAME_0 $_CHIPNAME.0
target create $_TARGETNAME_0 riscv -chain-position $_CHIPNAME.cpu -coreid 0 -rtos hwthread
# set _TARGETNAME_1 $_CHIPNAME.1
# target create $_TARGETNAME_1 riscv -chain-position $_CHIPNAME.cpu -coreid 1

# target smp $_TARGETNAME_0 $_TARGETNAME_1

#riscv set_ir dtmcs 0x022924
#riscv set_ir dmi 0x003924

telnet_port disabled
tcl_port disabled

riscv set_command_timeout_sec 30
riscv set_mem_access sysbus

#gdb_report_data_abort enable
gdb_port 81

init
halt
reset halt